<?xml version="1.0" encoding="UTF-8"?>
<lint>
    <!-- Disable the given check in this project -->
    <issue id="IconMissingDensityFolder" severity="ignore" />
    <issue id="ObsoleteLintCustomCheck" severity="ignore"/>
    <issue id="UnusedResources" severity="ignore"/>

<!-- Ignore the UselessLeaf issue in the specified file -->
<issue id="UselessLeaf">
    <ignore path="res/layout/main.xml" />
</issue>

<!-- Change the severity of hardcoded strings to "error" -->
<issue id="HardcodedText" severity="error" />
</lint>
